.pcoded-micon{
    font-size: 16px;
padding: 0px;
margin-right: 10px;
width: 23px;
display: inline-block;
height: 26px;
text-align: center; 
}
.pcoded-mtext{
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 14px;
}
.font-weight-bold{
    font-weight: 700 !important;
}

