@import "/src/assets/styles/app/globals/mat-table-responsive";

.scrollClass{
  touch-action: auto !important;
  overflow-y: scroll !important;
}
.export-button {
    text-align: right;
  }

  .norec{
    font-weight: bold;
    padding: 15px 0 15px 35% !important;
    color: red;
  }
  
  .mat-tooltip-trigger {
    touch-action: auto !important;
  }

  [mat-list-item]{
    touch-action: auto !important;
  }

  thead, th{
    background-color: lavender !important;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .bg-color{
    background-color: #2C5F9E;
}
.mobileshow{
  display: none;
}

@media (max-width: 766px) {

  .dis-grid{
    display: none;
  }
  .mobileshow{
    display: block;
  }
  
}
