.mt-10{
    margin-top: 10px;
}
.font{
    font-weight: 600 !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .currency{
    padding: 0;
    text-align: right;
    margin-top: 13px;
    font-size: medium;
    font-weight: 500;
  }

  p{
    font-weight: 600;
  }